body{
    font-family:Arial;
    color:#fff;
    margin:0;
}
.heading{
    background-color:black;
    height:70px;
    width:100%;
    height:80px;
    font-size: 20px;
    display:flex;
    position: fixed;
    top: 0px;
    left:0px;
}
.logo{
    margin:auto;
    width:200px;
    flex-grow: 20;
    padding-left:20px;
    text-shadow: 7px 5px 4px rgb(255 234 0);
    transition: text-shadow 0.5s linear ;
}
.nav-list{
    list-style: none;
    text-decoration: none;
    margin:auto;
    width:200px;
    flex-grow: 1;
}
.nav{
    display: inline-block;
    width:200px;
    margin:auto ;
    flex-grow: 1;
    text-decoration: none;
}
.nav-items{
    padding:0px 5px 0px 5px;
    display:inline-block;
}
.heading-login{
    display:inline-block;
    padding:0.7rem 0.7rem;
    background-color :#6495ed;
}
.heading-sign{
    display:inline-block;
    padding:0.7rem 1rem;
    border: solid #6495ED 1.5px;
    margin-left:7px;
}
a {
    text-decoration: none;
    color:#fff;
}
.logo:hover {
    text-shadow: 8px 7px 6px red;
    color:red
} 
.heading-login:hover{
    background-color: red;
}
a:hover{
    color:#66ed64;
}
/* ---------THIS IS SECTION-1-------- */
.sec1{
    width:100%;
    height:600px;
    background: linear-gradient(rgb(213, 213, 238),rgb(124, 124, 236),red);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.sec1-item1{
    height:110px;
    font-size: 60px;
    font-weight: bold;
}
.sec1-item2{
    font-size: 30px;
    color:black;
    font-style: italic;
}


/* ---------------THIS IS SECTION-2 ---------*/
.sec2{
    width:100%;
    height:1050px;
    background-color: cornflowerblue;
}
.sec2-item1{
    height:150px;
    font-size: 30px;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h2{
    margin:0px 0px 2px;
}
.sec2-item1__underline{
    background-color: #fff;
    width:650px;
    border: solid #fff 0.01rem ;
    margin:0px 10px;
}
.sec2-item2{
    width:100%;
    height:800px;
    color:#fff;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.sec2-item2__box{
    background-size:100%;
    background-repeat: no-repeat;
    width:380px;
    height:350px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:flex;
    align-items:flex-end;
    justify-content: center;
}
.sec2__p{
    color: #fff;
    font-size: 20px;
    padding: 3px;
}
span:hover{
    color:red;
}
.box1{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-02.png);
}
.box2{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-10.png);
}
.box3{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-11%20.png);
}
.box4{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-08.png);
}
.box5{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-13%20.png);
}
.box6{
    background-image: url(https://resources.mindx.edu.vn/uploads/images/anh%20web-12.png);
}
.sec2-item3{
    display:flex;
    justify-content:center;
    align-items: center;

}
.sec2-item3__botton{
    color: #fff;
    background-color: #294179;
    padding:0.7rem 1rem;
    border-radius: 5px;
    font-size: 20px;
}
.sec2-item3__botton:hover {
    background-color: red;
}

/* ---------THIS IS SECTION-3-------- */

.sec3{
    width:100%;
    height:600 px;
    background: linear-gradient(rgb(213, 213, 238),rgb(124, 124, 236),red);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.sec3-item1 {
    height:110px;
    font-size: 60px;
    font-weight: bold;
}
.sec3-item2 {
    font-size: 30px;
    color:black;
    font-style: italic;
}

/* ---------THIS IS SECTION-3-------- */
.sec3{
    width:100%;
    height:500px;
    background: linear-gradient(rgb(213, 213, 238),rgb(124, 124, 236),red);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.sec3-item1{
    height:120px;
    font-size: 60px;
    font-weight: bold;
}
.sec3-item2{
    font-size: 30px;
    color:black;
    font-style: italic;
}
.sec3-item3{
    width:100%;
    height:150px;
    display: flex;
    justify-content:center;
    column-gap: 15px;
}
.sec3-item3_icon{
    width:300px;
    height:100px;
    font-size: 20px;
}
a.sec3__icon{
    display: flex;
    align-items: center;
    width:170px;
    height:100px;
    font-size: 20px;
    transition: height 0.3s linear;
}

.sec3__icon:hover {
    height:130px;
}
/* ---------THIS IS SECTION-4-------- */
.sec4{
    background-color: black;
    width:100%;
    height:80px;
    color: #fff;
}
.sec4-items{
    height:80px;
    font-size:18px ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
    margin: 0px 0px;
    padding-left: 0px;
}


