html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 500 px;
}
.container{
    margin: 0px 0px;
}
.heading {
    width: 100%;
    height: 110px;
    background-color: black;

}
.heading-logo{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom:  rgb(84 84 84 / 69%) 1px solid;
   
}
img{
    width: 160px;
    height: 25px;
}
.heading-nav{
    color:#fff;
}
.heading-nav_items{
    list-style: none;
    display: flex;
    padding-left: 0px ;
    align-items: center;
   
}
.heading-nav_items1{
    padding-right: 60px;
    font-weight: bold;
    color: red;
}
.main{
    height: 800px;
    background-color: rgb(203 187 187 / 22%);
    margin: 0px 0px;
}
.main-head{
    height: 124px;
    font-size: 29px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.main-form{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;
    margin: 18px 0px;
}
.main_name1{
    display: flex;
    height: 65px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.main_name2{
    display: flex;
    height: 65px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
label{
    color:black;
    font-size: 15px;
    font-weight: bold;
}
input{
    width: 100%;
    height: 35px;
    color: black;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #bbb0b08a;
}
#country{
    height: 39px;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #bbb0b08a;
}
/* button#check{
    font-size: 24px;
    color: #fff;
    background-color: black;
    width: 151px;
    height: 42px;
    padding: 0px;
    font-style: italic;
} */
.main-option-check1{
    font-size: 20px;
    display: flex;
    
}
.main-option{
    margin-top: 80px;
}
.main-option-check1{
    display: flex;
    height: 30px;
    align-items: center;
    margin-top: 0px;
}
.checkbox_label{
    font-size: 15px;
    font-weight: normal;
}
#checkbox1{
    width: 13px;
    margin-right: 15px;
}
.sign-account{
    width:100%;
    height:100px;
    background-color: rgb(200, 192, 208);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sign-account_note1{
    font-size: 15px;
    flex-grow: 1;

}
.sign-account_note2{
    flex-grow: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sign-account_button{
    width: 144px;
    height: 40px;
    font-size: 12px;
    color: #fff;
    border-radius: 50px;
    font-weight: bolder;
    background-color: red;
}
a.back{
    font-weight: bold;
    font-size: 16px ;
    color: black;
    padding-right: 50px;
}

a{
    text-decoration: none;
}
p{
    font-size: 15px;
    line-height: 20px;
}
span{
    font-style: italic;
}