.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 182, 182);
    width:350px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border:solid red 2px;
    border-radius:10px;

}
.title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.title-top{
    font-size:20px ;
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-top1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    height: 65px;
    width: 100%;
    flex-direction: column;
}

.title-find{
    border-radius: 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 145px;
    font-style: italic;
    outline: none;
    border: red dashed 1.5px;
}
.main{
    height:auto;
    background-color: #fff;
    margin:0px 5px;
}
.main-content{
    width:100%;
    height: 40px;
    display:flex;
}
.main-content_box1{
    background-color: blue;
    height: 80%;
    width: 60px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content_box2{
    font-size: 15px;
    flex:100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px  0px  15px;
}
.but-dele{
    background-color:rgba(255, 0, 0, 0.748);
    border-radius: 5px;
    font-size: 9px;
    height: 25px;
    width: 50px;
    color: #fff;
    border: solid 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.box-find{
    width: 100%;
    height: 30px;
    display:flex;
    justify-content: center;
}
.addtext{
    border-radius: 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 145px;
    font-style: italic;
    outline: none;
    border: red dashed 1.5px;
}
.but-add{
    background-color: rgb(114 61 163 / 61%);
    border-radius: 5px;
    height: 25px;
    width: 50px;
    color: #fff;
    border: solid 0px;
}
.footer{
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
